<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>PostGram</title>
</head>

<body>
    <div class="w-full bg-zinc-900 h-screen text-white p-10">
        <div class="flex items-center ">
            <div class="flex flex-col mr-10 items-center">
                <img class="w-10 h-10 rounded-full border-2 border-zinc-800 object-cover"
                    src="/images/upload/<%=user.profileImage%>" alt="default image">
                <a href="/edit-profile">edit image</a>
            </div>

            <h1 class="text-3xl"> <span class="text-light"> Hello, </span>
                <%= user.username%> 👋
            </h1>
            <a href="/logout" class="text-blue-500 ml-5 h-10 bg-red-500  rounded-md text-sm"> Logout here</a>
        </div>

        <h5 class="mb-5 text-xl">
            You can create posts
        </h5>
        <form method="post" action="/post">
            <textarea placeholder="What's on your mind ? "
                class="resize-none  bg-transparent border-2 border-zinc-800 rounded-md" name="content"></textarea>
            <input type="submit" class="px-3 py-2 cursor-pointer rounded-md bg-blue-500 block" value="Create new Post">

        </form>
        <div class="posts mt-5">

            <h2 class="text-2xl mb-5">Your Posts</h2>

            <div class="post-container">

                <% user.posts.reverse().forEach((post)=>{
                    %>

                    <div class="post w-1/3 mb-5 p-4 rounded-md bg-zinc-700 border-2 border-zinc-800">

                        <h4 class="text-xl text-blue-500 text-zinc-600">@<%= user.username%>
                        </h4>
                        <p class="tracking-tight text-sm">
                            <%= post.content%>
                        </p>

                        <div class="mt-2">
                            <%= post.likes.length %> likes
                        </div>
                        <div class="btns">
                            <a class="text-blue-500" href="/like/<%=post._id%>">
                                <%= post.likes.indexOf(user._id)===-1 ? "Like" : "Unlike" %>
                            </a>
                            <a class="text-zinc-600 ml-5 cursor-pointer" href="/edit/<%=post._id %>">Edit</a>
                        </div>
                    </div>
            </div>

            <% })%>
        </div>
    </div>
    </div>
</body>

</html>